flask
flask-cors
pymongo
pyjwt
bcrypt
python-dotenv
pydantic
bleach
spacy
pdfplumber
pytesseract
pdf2image
torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
transformers==4.44.2
sentence-transformers==3.0.1
pythainlp
Sastrawi
nltk